<footer id="footer">
  <section class="contact-section">
    <h2>Contact</h2>

    <div class="contact-item">
      <i class="icon solid fa-home"></i>
      <span>Mumbai, India</span>
    </div>

    <div class="contact-item">
      <i class="icon solid fa-phone"></i>
      <a href="tel:{{ +91-7039851195 }}">{{ site.phone }}</a>
    </div>

    <div class="contact-item">
      <i class="icon brands fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">
        LinkedIn
      </a>
    </div>


  </section>
</footer>